.InputBox {
  flex-basis: 50px;
  display: flex;
  margin-bottom: 15px;
  position: relative;
}

.InputBox-left {
  flex-basis: 15px;
  background: url('input-left.png') no-repeat;
  background-size: contain;
  background-position-x: 1px;
}

.InputBox-middle {
  flex-grow: 1;
  background: url('input-middle.png') repeat-x;
  background-size: contain;
}

.InputBox-right {
  flex-basis: 15px;
  background: url('input-right.png') no-repeat;
  background-size: contain;
}

.InputBox-chatBubble {
  background: url('chat-bubble.png') no-repeat;
  background-size: contain;
  position: absolute;
  left: 15px;
  top: 14px;
  height: 25px;
  width: 28px;
}

.InputBox-input {
  position: absolute;
  left: 50px;
  top: 11px;
  right: 15px;
}

.InputBox-input input {
  height: 25px;
  width: 100%;
  background-color: transparent;
  border: none;
  color: #fff;
  font-family: 'Space Mono', monospace;
  font-size: 16px;
}

.InputBox-input input:focus {
  outline: none;
}